@charset "utf-8";
/* CSS Document */
body{
	background-image:url(../images/bg-begin.jpg);
}
#header{
	position:fixed;
	top:0px;
	left:0px;
	background-image:url(../images/head-bg2.png);
	width:100%;
	height:109px;
	z-index:100;
	-moz-box-shadow: 0px 0px 32px #000;
	-webkit-box-shadow: 0px 0px 70px #000;
}
#headertitle{
	height:138px;
	width:239px;
	position:fixed;
	left:40px;
	top:12px;
}
#fbIcon{
	position:fixed;
	left:1200px;
	top:10px;
	width:107px;
	height:107px;
}
#menu {
	line-height:45px;
	background-image:url(../images/filter-arrow.png);
	background-repeat:no-repeat;
	margin-top:0px;
	padding:28px 10px 10px 0px;
	font-size:13px;
	width:130px;
	height:600px;
	position:fixed;
	left:-6px;
	top:156px;
}
#menu a {
	padding:10px 0px 10px 0px;
	font-family: Museo-500;
	color:#FFF; 
	background-attachment:fixed;
	height: 20px; 
	overflow: hidden; 
	text-decoration:none;
	font-size:13px;
}
#menu a:hover{
	padding:10px 0px 10px 0px;
	color:#FF6; 
	background-attachment:fixed;
	height: 20px; 
	overflow: hidden; 
	text-decoration:none;
}
#menu li{
	list-style:none;
	padding:16px 5px 0px 0px;
	position:relative;
	left:-20px;
}
#content{
	border:medium;
	border-color:#000;
	border-width:medium;
	width:752px;
	position:relative;
	left: 156px;
	top: 55px;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	box-shadow: 0px 0px 3px #000;
	overflow:hidden;
}
#TextContent{
	padding: 30px 32px 180px 0px;
	border:medium;
	border-color:#000;
	border-width:medium;
	min-height:400px;
	position:relative;
	left: 18px;
	top: 45px;
}
#MessMenu{
	padding:10px;
	background-color:#5B0B32;
	color:#FFF;
	width:165px;
	position:fixed;
	top:187px;
	left:930px;
	font-size:12px; 
	font-family: Calluna-Regular;
	letter-spacing: 1px;
	-moz-box-shadow: 0px 0px 3px #5B0B32;
	-webkit-box-shadow: 0px 0px 3px #5B0B32;
	box-shadow: 0px 0px 10px #5B0B32;
}
#MessMenuHeading{
	background-color:#000;
	color:#FFF;
	text-align:right;
	position:fixed;
	top:157px;
	left:1005px;
	width:100px;
	height:20px;
	padding:5px;
	font-family: museo-500;
	-moz-box-shadow: 0px 0px 3px #5B0B32;
	-webkit-box-shadow: 0px 0px 3px #5B0B32;
	box-shadow: 0px 0px 10px #5B0B32;
}
#messHeading{
	font-weight:bold;
	font-style:oblique;
	color:#FFF;
	font-size:13px;
	color:#FF0; 
	letter-spacing: 1px;
}
#rightDiv{
	height:100%;
	width:228px;
	position:fixed;
	right:0px;
	top:109px;
	z-index:-1;
	background-image:url(../images/sidebar.png);
}
#updates{
	background-image:url(../images/update.png);
	background-repeat:no-repeat;
	position:fixed;
	right:-68px;
	bottom: 10px;
	padding: 46px 5px 0px 28px;
	height: 168px;
	width: 237px;
}
#share{	
	position:fixed;
	left: 930px;
	top: 460px;
	z-index:998;
}
#fb-root{
	position:relative;
	top:35px;
	left:0px;
}
#Gplus{
	position:relative;
	top:18px;
	left:0px;
}
#footer{
	font-family: Calluna-Regular;
	font-size:12px;
	color:#CCC; 
	width:100%;
	height:50px;
	position:fixed;
	left:0px;
	bottom:0px;
	background-image:url(../images/footer.png);
}
#Credits{
	font-family: Calluna-Regular;
	position:relative;
	top:20px;
	left:420px;
	z-index:22;
}
#adminLink{
	font-family: Calluna-Regular;
	position:relative;
	top:5px;
	left:60px;
}
#Credits a{
	text-decoration:none;
	font-size:14px;
	font-family: museo-500;
	color:#FFF;	
}
#adminLink a{
	text-decoration:none;
	font-size:14px;
	font-family: museo-500;
	color:#FFF;	
}
#libraryDiv{
	position:fixed;
	bottom:-5px;
	left:1155px;
}
#findIpDiv{
	position:fixed;
	bottom:5px;
	left:1242px;
}
#mailBoxDiv{
	position:fixed;
	bottom:5px;
	left:1075px;
}
#coder{
	-moz-box-shadow: 0px 0px 18px #5B0B32;
	-webkit-box-shadow: 0px 0px 40px #5B0B32;
	box-shadow: 0px 0px 10px #5B0B32;
	padding:10px 0px 10px 20px;
	width:300px;
	height:400px;
}
#designer{
	-moz-box-shadow: 0px 0px 18px #5B0B32;
	-webkit-box-shadow: 0px 0px 40px #5B0B32;
	box-shadow: 0px 0px 10px #5B0B32;
	padding:10px 0px 10px 20px;
	width:300px;
	height:400px;
	position:relative;
	top:-420px;
	left:395px;
}
#coder img{
	width:220px;
	height:220px;
	text-align:center;
}
#designer img{
	width:220px;
	height:220px;
	text-align:center;
}
.coder{
	position:relative;
	top:-230px;
	left:228px;
}
.designer{
	position:relative;
	top:-230px;
	left:228px;
}
#socialBlocks img{
	width:60px;
	height:60px;
}
#facebook{
	position:relative;
	top:0px;
	left:0px;
}
#googlePlus{
	position:relative;
	top:-4px;
	left:0px;
}
#blogger{
	position:relative;
	top:10px;
	left:0px;
}
#linkedin{
	position:relative;
	top:0px;
	left:0px;
}
#linkedin img{
	padding-left:4px;
	width: 49px;
	height: 48px;
}
#blogger img{
	padding-left:4px;
	width: 50px;
	height: 50px;
}
#socialBlocks{
	width:78px;
}
#coderText{
	position:relative;
	top:-210px;
	left:0px;
}
#designerText{
	position:relative;
	top:-112px;
	left:0px;
}
#disclaimer{
	position:relative;
	top:-395px;
	left:0px;
}
.blu {
	color:#5B0B32;
	}
h1 {
	font-family: Museo-500;
	letter-spacing: 1px;
	font-size:24px;
 	margin-bottom:18px;
	color:#5B0B32;
}
h2 {
	font-family: Museo-500;
	font-size:17px;
	line-height:42px;
	color:#5B0B32;
}
h4 {
	font-family: Museo-500;
	letter-spacing: 1px;
	font-size:15px;
	margin-top:-6px;line-height:18px;
	margin-bottom: 15px;
	color:#5B0B32;
	text-align:left;
}
p {
	font-family: Calluna-Regular;
	font-size:14px; 
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height:28px;
	text-align:justify;
}